.header {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    box-shadow: -6px -17px 20px 6px grey;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    z-index: 3;

    .brand {
        position: relative;
        z-index: 3;
        color: black;
        cursor: pointer;
        padding-left: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bold;
        font-family: type-round;
    }

    .profile {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}