.analog {
    // width: 50%;
    // aspect-ratio: 1/1;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
    height: 249px;
    scale: .8;
    border-radius: 13px;
    box-shadow: 4px 8px 20px 0 #80808047, 0 0 0 0 grey;
    background-color: inherit;

    svg {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 500px;

        .meter {
            transform: translate(50%, 51%) scale(9) rotate(143deg);
            // position: absolute;
            // top: 0;

            stroke: #f7eee1;
            fill: none;
            stroke-width: 1.5px;
            stroke-dasharray: 100;
            stroke-dashoffset: 56;
            stroke-linecap: round;
        }

        .progress {
            transform: translate(50%, 51%) scale(9) rotateZ(143deg);

            stroke: #2fb2ab;
            fill: none;
            stroke-width: 1.7px;
            stroke-dasharray: 100;
            stroke-dashoffset: 76;
            stroke-linecap: round;
        }
    }
    .pointerHolder {
        position: absolute;
        rotate: 225deg;
        /* width: 6%; */
        top: 78%;
        right: 58%;
        .pointer_stick {
            position: absolute;
            top: 25%;
            width: 75px;
            height: 60px;
            background: linear-gradient(#ff9053, white);
            transform-origin: 49% 117%;
            rotate: 17deg;
            clip-path: polygon(50% 0%, 44% 100%, 56% 100%);
            transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }

    .knob {
        position: absolute;

        width: 20px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: white;
        border: 4px solid #ff9053;
    }

    ul {
        position: relative;
        list-style: none;
        height: 100%;
        background-color: inherit;

        .labels {
            top: 27%;
            font-size: 6px;
            left: 50%;
            position: absolute;
            transform-origin: 0 76px;
            rotate: calc(342deg * var(--i));
            span {
                rotate: 180deg;
            }
        }
        &::before {
            content: "";
            position: absolute;
            /* right: -22%; */
            width: 100px;
            transform: translateX(-68%);
            bottom: 33px;
            height: 42px;
            z-index: 1;
            background-color: inherit;
        }
    }
}
